name: CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Build Docker image
        run: docker build -t flask-app .

      - name: Run container
        run: docker run -d -p 5000:5000 flask-app

      - name: Check app is running
        run: curl http://localhost:5000

      - name: Wait for app
        run: sleep 5

      - name: Test app
        run: curl http://localhost:5000

      - name: Show running containers
        run: docker ps -a

